.rl-rotate{
    margin-top: 50px;
}
.rotate-wrap{
  list-style: none;
  position: relative;
  background: #ccc;
  width: 550px;
  height: 400px;
  padding-left: 0;
}
.rotate-wrap li img{
 max-width: 320px;
}
.rotate-wrap li{
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.rotate-wrap li.rotate-active{
  transform: scale(1.1);
  z-index: 2;
 transition: 0.3s;
}
.rotate-wrap li.rotate-left,.rotate-wrap li.rotate-right{
  z-index: 1;
  transform:scale(0.8); 
  transition: 0.3s;
  filter: blur(3px);/* 做兼容 */
}

@media only screen and ( max-width: 500px ){
  .rotate-wrap{
      list-style: none;
      position: relative;
      background: #ccc;
      width: 100%;
      height: 300px;
      overflow: hidden;
  }
 .rotate-wrap li img{
     max-width: 180px;
 }
}