<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="https://segmentfault.com/a/1190000007812543"> 地址 </a>

<div class="input-wrap">
    <div class="input-item">
        <label for="item1" class="input-label">NAME</label>
        <div class="input-box"><input type="text" class="input" v-model="" placeholder="name" id="item1"></div>
    </div>
    <div class="input-item">
        <label for="item2" class="input-label">NAME</label>
        <div class="input-box"><input type="text" class="input" v-model="" placeholder="name" id="item2"></div>
    </div>
    <div class="input-item">
        <label for="item3" class="input-label">NAME</label>
        <div class="input-box">
            <select name="" id="item3" v-model="" class="input">
                <option value="value1">value</option>
                <option value="value2">value</option>
                <option value="value3">value</option>
            </select>
        </div>
    </div>
    <div class="input-item">
        <label for="item4" class="input-label">NAME</label>
        <div class="input-box">
            <input type="radio" value="radio1" id="radio1">
            <label for="radio1">radio</label>
            <input type="radio" value="radio2" id="radio2">
            <label for="radio2">radio</label>
        </div>
    </div>
</div>
</body>
</html>