<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/antd/dist/antd.css">
</head>
<body>
    <head>
      这里有一个头部
    </head>
    <div id="app">
       古老的app从这里开始<a-button></a-button>{{name}}
    </div>
    <footer>
        版权所有
    </footer>
  <script src="../node_modules/vue/dist/vue.js"> </script>  
  <script src="../node_modules/vue-router/dist/vue-router.js"></script>
  <script src="../node_modules/axios/dist/axios.js"></script>
  <script src="../node_modules/antd/dist/antd.js"></script>
  <script src="js/main.js"></script>

</body>
</html>