<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <head class="page-header">
      古老的app从这里开始
    </head>
    <div id="app">
       欢迎来到llx-express 学习项目
       <div class="input-wrap">
         <label for="item1" class="input-label">用户名</label>
         <input type="text" class="input" id="item1" placeholder="用户名"  v-model="username">
        </div>
       <div class="input-wrap">
         <label for="item2" class="input-label">密码</label>
         <input type="text" class="input" id="item2" placeholder="密码" v-model="password">
        </div>
       <a href="javascript:void(0)" @click="register">注册</a>
       <a href="javascript:void(0)" @click="login">登陆</a>
    </div>
    <footer>
        版权所有
    </footer>
  <script src="../node_modules/vue/dist/vue.js"> </script>  
  <script src="../node_modules/axios/dist/axios.js"></script>
  <script src="js/axios.js"></script>
  <script src="js/main.js"></script>

</body>
</html>