<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <head class="page-header">
      古老的app从这里开始
    </head>
    <div id="app">
       欢迎来到llx-express 学习项目
       <router-link to="/foo"><button class='btn btn-primary'>登陆</button></router-link>
       <router-link to="/bar"><button class='btn btn-default'>注册</button></router-link>
       <router-view></router-view>
       
       <a href="javascript:void(0)" @click="register">注册</a>
       <a href="javascript:void(0)" @click="login">登陆</a>
    </div>
    <footer>
        版权所有
    </footer>
  <script src="../node_modules/vue/dist/vue.js"> </script>  
  <script src="../node_modules/vue-router/dist/vue-router.js"></script>
  <script src="../node_modules/axios/dist/axios.js"></script>
  <!-- <script src="js/bootstrap-3.3.7/dist/js/bootstrap.js"></script>   -->
  <script src="js/axios.js"></script>
  <script src="js/main.js"></script>

</body>
</html>