.checkerboard{
    width: 600px;
    height: 600px;
    border: 1px solid #999;
    border-top:none;
    border-right:none;
    
    background: linear-gradient(90deg,transparent 39px,#999 1px)  ,
                linear-gradient(0,transparent 39px,#999 1px);
    background-size:40px;
    cursor: pointer;
}